.certificares {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.certificares-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.certificares-self {
  display: grid;
}

.certificares-self img {
  border-radius: 0.3rem;
  height: 15rem;
}

.certificares-self h4 {
  display: flex;
  align-items: center;
  line-height: 1.2;
  font-weight: 100;
  font-size: 1.2rem;
}


.certificares-self h4::before {
  content: '';
  width: 1rem;
  height: 0.5rem;
  display: block;
  background: var(--color-orange);
  margin-right: 1rem;
}

.certificares-self span {
  margin-left: 1.8rem;
  color: var(--bg-primary);
}

.btnGrey {
  display: block;
  background: #529c52;
  padding: .6rem;
  text-align: center;
  color: whitesmoke;
  border-radius: 0.3rem;
  align-self: flex-end;
}
