.footer {
background: whitesmoke;
  padding: 2rem 0;
}

.footer-contant {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.footer-title {
  color: var(--color-orange);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-item ul {
  display: grid;
  gap: 1rem;
  color: var(--bg-primary);
  margin-bottom: 1rem;
}

.footer-item ul li a {
  color: var(--bg-primary);
  padding: 0.4rem;
}

.footer-item ul li a:hover {
  color: var(--color-second);
}

.footer-p {
  font-size: 1rem;
  text-align: right;
}


.ul-footer {
  display: grid;
  grid-template-columns: 3rem 3rem;
  gap: 1rem;
}

.icon {
  max-width: 1.5rem;
}

@media (max-width: 800px) {
  .footer-item ul {
    gap: 0.6rem;
  }
    .footer-item ul li {
      margin: 0;
    }
}
