.header {
  padding: 0.5rem 0;
  background: white;
  margin-bottom: 0;
}

.logo {
  color: var(--color-orange);
  font-weight: bold;
  font-size: 2.5rem;
  max-width: 6rem;
}

.navbar,
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  color: var(--color-orange);
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.3rem;
}

@media (max-width: 800px) {
  .navbar,
  .navbar ul {
    margin: 0;
  }
  .navbar ul li {
    margin: 1rem;
  }
  .navbar ul li a {
    background: var(--color-orange);
    color: var(--color-primary);
  }
}

@media (max-width: 650px) {
  .header {
    position: fixed;
    top:0 ;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .navbar,
  .navbar ul {
    margin: 0;
  }

  .navbar ul {
    width: 9rem;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0;
    display: none;
    z-index: 5;
    background: white;
    border: 1px solid black;
  }
  .navbar ul.active {
    display: block;
    animation: 0.3s slow;
  }

  @keyframes slow {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .navbar ul li {
    margin: 0.3rem 0 0 0;
    width: 100%;
    padding: 0 0.3rem;
  }
  .navbar ul li a {
    display: block;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
    background: whitesmoke;
    color: initial;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 0.5rem 0;
  }
  logo {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
