.header {
  padding: 0.5rem 0;
  background: var(--bg-primary);
  margin-bottom: 0;
}

.logo {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar,
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  color: var(--color-primary);
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.3rem;
}

@media (max-width: 800px) {
  .navbar,
  .navbar ul {
    margin: 0;
  }
  .navbar ul li {
    margin: 1rem;
  }
  .navbar ul li a {
    background: var(--color-hover);
  }
}

@media (max-width: 600px) {
  .navbar,
  .navbar ul {
    margin: 0;
  }

  .navbar ul {
    width: 9rem;
    height: 14rem;
    background: var(--bg-primary);
    position: absolute;
    top: 0;
    right: 0;
    padding: 4rem 0 0 0;
    display: block;
  }
  .navbar ul li {
    margin: .3rem 0 0 0;
    width: 100%;
    padding: 0 0.3rem;
  }
  .navbar ul li a {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 0.5rem 0;
  }
  logo {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
