/* reset */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Poppins:wght@400;700&display=swap');
:root {
  --bg-primary: #212529;
  --color-primary: whitesmoke;
  --color-hover: #3b3b3b;
  --color-second: #b1aeae;
  --color-orange: #181743;
}

html {
  scroll-behavior: smooth;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  color: var(--color-hover);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.6rem;
}

img {
  width: 100%;
  display: block;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
  color: #3b3b3b;
}

.subtitle {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: bold;
  text-align: center;
  color: var(--bg-primary);
}

.subtitle::after {
  content: '';
  width: 2rem;
  height: 6px;
  display: block;
  background: var(--color-orange);
  margin: 1rem auto;
}

.buttonToogle {
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.buttonToogle::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}

@media (max-width: 650px) {
  .buttonToogle {
    display: flex;
    z-index: 1;
  }
  h4 {
    font-size: 1.3rem;
  }

  .subtitle {
    font-size: 1.7rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
